body {
  font-family: 'Lora', serif;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.906);
}

header {
  width: fit-content;
  margin: auto;
  text-align: center;
}

nav a {
  padding-inline: 10px;
  background-color: rgb(187, 77, 77);
}

#featured-property figure img {
  display: block;
  margin: auto;
}

figcaption {
  font-style: italic;
  font-size: smaller;
  padding-top: 10px;
  text-align: center;
}

section#featured-property p{
  text-align: center;
  width: 800px;
  margin: auto;
  padding: 10px;
}

#details {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(189, 80, 96);
  margin-top: 50px;
}

#details div {
  flex: 1;
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
}
